In [1]:
import numpy as np
import pandas as pd
import os
import math

In [2]:
eosdir_pos = '/eos/uscms/store/user/jennetd/smart-pixels/dataset678/unflipped-positive/'
eosdir_neg = '/eos/uscms/store/user/jennetd/smart-pixels/dataset678/unflipped-negative/'

df = pd.DataFrame()

maxtally = 1000000

print('Processing + charge')
for f in os.listdir(eosdir_pos):
    if 'recon' in f:
        continue
        
    label = pd.read_csv(eosdir_pos+f,usecols=['x-midplane','y-midplane'])               
    recon = pd.read_csv(eosdir_pos+'recon2D_'+f.split('_')[1])
    
    df = pd.concat([df,pd.concat([label,recon],axis=1)])
    
    if len(df) > maxtally:
        break
    
print('Processing - charge')
for f in os.listdir(eosdir_neg):
    if 'recon' in f:
        continue

    label = pd.read_csv(eosdir_neg+f,usecols=['x-midplane','y-midplane'])               
    recon = pd.read_csv(eosdir_neg+'recon2D_'+f.split('_')[1])
    
    df = pd.concat([df,pd.concat([label,recon],axis=1)])
    
    if len(df) > 2*maxtally:
        break

Processing + charge
Processing - charge

In [3]:
df.head()

,y-midplane,x-midplane,0,1,2,3,4,5,6,7,...,263,264,265,266,267,268,269,270,271,272
0,4.750171,-28.748886,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,14.159270,39.535967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,16.021390,65.387944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.020286,-62.093969,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.116152,-51.763367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
shuffled_df = df.sample(frac=1).reset_index(drop=True)
shuffled_df.head()

,y-midplane,x-midplane,0,1,2,3,4,5,6,7,...,263,264,265,266,267,268,269,270,271,272
0,2.431454,-66.351447,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-10.350381,-35.686443,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-9.170028,-64.063885,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-10.465312,31.796910,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12.002795,26.856540,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
split_n = math.floor(0.8*len(shuffled_df))

In [6]:
train_df = shuffled_df[:split_n]
test_df = shuffled_df[split_n:]

print(len(train_df),len(test_df))

1606815 401704

In [7]:
train_df.to_csv('train_2D.csv',index=False)
test_df.to_csv('test_2D.csv',index=False)