In [1]:
import numpy as np
import pandas as pd
import os
import math

In [2]:
eosdir_pos = '/eos/uscms/store/user/jennetd/smart-pixels/dataset678/unflipped-positive/'
eosdir_neg = '/eos/uscms/store/user/jennetd/smart-pixels/dataset678/unflipped-negative/'

df = pd.DataFrame()

print('Processing + charge')
for f in os.listdir(eosdir_pos):
    if 'recon' in f:
        continue
        
    label = pd.read_csv(eosdir_pos+f,usecols=['y-midplane','cotBeta'])
                        
    ydf = pd.read_csv(eosdir_pos+'recon1Dy_'+f.split('_')[1])
    
    df = pd.concat([df,pd.concat([label,ydf],axis=1)])
    
print('Processing - charge')
for f in os.listdir(eosdir_neg):
    if 'recon' in f:
        continue

    label = pd.read_csv(eosdir_neg+f,usecols=['y-midplane','cotBeta'])
                        
    ydf = pd.read_csv(eosdir_neg+'recon1Dy_'+f.split('_')[1])
    
    df = pd.concat([df,pd.concat([label,ydf],axis=1)])

Processing + charge
Processing - charge

In [3]:
df.head()

,cotBeta,y-midplane,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.021384,4.750171,0.0,0.0,0.0,31.0,13523.0,11479.0,12934.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.019167,14.159270,0.0,0.0,0.0,0.0,30.0,2155.0,2650.0,1703.0,0.0,0.0,0.0,0.0,0.0
2,-0.106004,16.021390,0.0,0.0,0.0,0.0,0.0,1351.0,3466.0,1074.0,0.0,0.0,0.0,0.0,0.0
3,-0.165913,3.020286,0.0,0.0,0.0,0.0,2151.0,23684.0,2953.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.059327,0.116152,0.0,0.0,0.0,604.0,2597.0,2144.0,2082.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
shuffled_df = df.sample(frac=1).reset_index(drop=True)
shuffled_df.head()

,cotBeta,y-midplane,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.115094,9.949084,0.0,0.0,0.0,0.0,37.0,7990.0,8163.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000086,5.112724,0.0,0.0,0.0,7.0,6670.0,14134.0,14591.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.150252,-4.567938,0.0,0.0,0.0,5582.0,13416.0,3483.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.125019,17.698904,0.0,0.0,0.0,0.0,0.0,2873.0,28693.0,15184.0,0.0,0.0,0.0,0.0,0.0
4,0.112519,-12.657038,0.0,0.0,3357.0,6703.0,8549.0,12116.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
split_n = math.floor(0.8*len(shuffled_df))

In [6]:
train_df = shuffled_df[:split_n]
test_df = shuffled_df[split_n:]

print(len(train_df),len(test_df))

13722961 3430741

In [7]:
train_df.to_csv('train_1Dy.csv',index=False)
test_df.to_csv('test_1Dy.csv',index=False)