In [1]:
import numpy as np
import pandas as pd
import os
import math

In [3]:
eosdir_pos = '/eos/uscms/store/user/jennetd/smart-pixels/dataset678/unflipped-positive/'
eosdir_neg = '/eos/uscms/store/user/jennetd/smart-pixels/dataset678/unflipped-negative/'

df = pd.DataFrame()

print('Processing + charge')
for f in os.listdir(eosdir_pos):
    if 'recon' in f:
        continue
        
    label = pd.read_csv(eosdir_pos+f,usecols=['x-midplane'])
                        
    xdf = pd.read_csv('../../paper/unflipped-positive/recon1Dx_'+f.split('_')[1])
    
    df = pd.concat([df,pd.concat([label,xdf],axis=1)])
    
print('Processing - charge')
for f in os.listdir(eosdir_neg):
    if 'recon' in f:
        continue

    label = pd.read_csv(eosdir_neg+f,usecols=['x-midplane'])
                        
    xdf = pd.read_csv('../../paper/unflipped-negative/recon1Dx_'+f.split('_')[1])
    
    df = pd.concat([df,pd.concat([label,xdf],axis=1)])

Processing + charge
Processing - charge

In [4]:
df.head()

,x-midplane,0,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,20
0,-28.748886,0.0,0.0,0.0,0.0,0.0,1307.0,10724.0,2613.0,3321.0,...,3866.0,3526.0,4610.0,635.0,0.0,0.0,0.0,0.0,0.0,0.0
1,39.535967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4843.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,65.387944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4699.0,1192.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-62.093969,0.0,0.0,0.0,0.0,0.0,2070.0,3638.0,2615.0,3239.0,...,3666.0,3053.0,486.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-51.763367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
shuffled_df = df.sample(frac=1).reset_index(drop=True)
shuffled_df.head()

,x-midplane,0,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,20
0,-70.371612,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2074.0,6461.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4.676486,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,39.002041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3476.0,3081.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-59.286006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4006.0,6198.0,...,1114.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,72.987112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2764.0,5771.0,2812.0,2944.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
split_n = math.floor(0.8*len(shuffled_df))

In [7]:
train_df = shuffled_df[:split_n]
test_df = shuffled_df[split_n:]

print(len(train_df),len(test_df))

13722961 3430741

In [8]:
train_df.to_csv('train_1Dx.csv',index=False)
test_df.to_csv('test_1Dx.csv',index=False)