In [1]:
import numpy as np
import pandas as pd
import os
import math

In [2]:
eosdir_pos = '/eos/uscms/store/user/jennetd/smart-pixels/dataset678/unflipped-positive/'
eosdir_neg = '/eos/uscms/store/user/jennetd/smart-pixels/dataset678/unflipped-negative/'

df = pd.DataFrame()

print('Processing + charge')
for f in os.listdir(eosdir_pos):
    if 'recon' in f:
        continue
        
    label = pd.read_csv(eosdir_pos+f,usecols=['x-midplane','y-midplane'])
                        
    xdf = pd.read_csv('../paper/unflipped-positive/recon1Dx_'+f.split('_')[1])
    ydf = pd.read_csv('../paper/unflipped-positive/recon1Dy_'+f.split('_')[1])
    
    df = pd.concat([df,pd.concat([label,xdf,ydf],axis=1)])
    
print('Processing - charge')
for f in os.listdir(eosdir_neg):
    if 'recon' in f:
        continue

    label = pd.read_csv(eosdir_neg+f,usecols=['x-midplane','y-midplane'])
                        
    xdf = pd.read_csv('../paper/unflipped-negative/recon1Dx_'+f.split('_')[1])
    ydf = pd.read_csv('../paper/unflipped-negative/recon1Dy_'+f.split('_')[1])
    
    df = pd.concat([df,pd.concat([label,xdf,ydf],axis=1)])

Processing + charge
Processing - charge

In [3]:
df.head()

,y-midplane,x-midplane,0,1,2,3,4,5,6,7,...,3,4,5,6,7,8,9,10,11,12
0,4.750171,-28.748886,0.0,0.0,0.0,0.0,0.0,1307.0,10724.0,2613.0,...,31.0,13523.0,11479.0,12934.0,0.0,0.0,0.0,0.0,0.0,0.0
1,14.159270,39.535967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,30.0,2155.0,2650.0,1703.0,0.0,0.0,0.0,0.0,0.0
2,16.021390,65.387944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1351.0,3466.0,1074.0,0.0,0.0,0.0,0.0,0.0
3,3.020286,-62.093969,0.0,0.0,0.0,0.0,0.0,2070.0,3638.0,2615.0,...,0.0,2151.0,23684.0,2953.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.116152,-51.763367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,604.0,2597.0,2144.0,2082.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
shuffled_df = df.sample(frac=1).reset_index(drop=True)
shuffled_df.head()

,y-midplane,x-midplane,0,1,2,3,4,5,6,7,...,3,4,5,6,7,8,9,10,11,12
0,-17.771228,55.621674,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5625.0,4792.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-3.947826,-17.360804,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2780.0,3789.0,6216.0,3569.0,0.0,0.0,0.0,0.0,0.0,0.0
2,14.680518,34.922487,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2035.0,6749.0,5147.0,5527.0,2683.0,0.0,0.0,0.0,0.0
3,17.927903,-18.839272,0.0,0.0,0.0,2622.0,5049.0,8814.0,4577.0,3551.0,...,0.0,1210.0,20533.0,23268.0,23576.0,6008.0,0.0,0.0,0.0,0.0
4,-3.617825,-13.036010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1889.0,...,3.0,9346.0,12902.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
split_n = math.floor(0.8*len(shuffled_df))

In [6]:
train_df = shuffled_df[:split_n]
test_df = shuffled_df[split_n:]

print(len(train_df),len(test_df))

13722961 3430741

In [7]:
train_df.to_csv('train_1D.csv',index=False)
test_df.to_csv('test_1D.csv',index=False)