In [1]:
import numpy as np
import pandas as pd
import os
import math

In [2]:
# take first 8 time slices
cols = list(range(0,21*8))

In [3]:
eosdir_pos = '/eos/uscms/store/user/jennetd/smart-pixels/dataset678/unflipped-positive/'
eosdir_neg = '/eos/uscms/store/user/jennetd/smart-pixels/dataset678/unflipped-negative/'

df = pd.DataFrame()

i=0
print('Processing + charge')
for f in os.listdir(eosdir_pos):

    if 'recon' in f:
        continue
    
    i = i + 1
    if i > 200:
        break
            
    label = pd.read_csv(eosdir_pos+f,usecols=['x-midplane'])
                        
    xdf = pd.read_csv(eosdir_pos+'recon2Dx_'+f.split('_')[1],usecols=cols)
    
    df = pd.concat([df,pd.concat([label,xdf],axis=1)])
    
i=0
print('Processing - charge')
for f in os.listdir(eosdir_neg):
    
    if 'recon' in f:
        continue
        
    i = i + 1
    if i > 200:
        break

    label = pd.read_csv(eosdir_neg+f,usecols=['x-midplane'])
                        
    xdf = pd.read_csv(eosdir_neg+'recon2Dx_'+f.split('_')[1],usecols=cols)
    
    df = pd.concat([df,pd.concat([label,xdf],axis=1)])

Processing + charge
Processing - charge

In [4]:
df.head()

,x-midplane,0,1,2,3,4,5,6,7,8,...,158,159,160,161,162,163,164,165,166,167
0,-28.748886,0.0,0.0,0.0,0.0,21.0,372.5,614.8,491.1,415.5,...,3777.9,3250.8,4239.0,428.8,-18.3,0.0,0.0,0.0,0.0,0.0
1,39.535967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4769.3,-2.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,65.387944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4651.0,1138.5,-20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-62.093969,0.0,0.0,0.0,0.0,-70.9,738.4,1616.4,721.9,627.3,...,3666.0,3053.0,486.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-51.763367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
shuffled_df = df.sample(frac=1).reset_index(drop=True)
shuffled_df.head()

,x-midplane,0,1,2,3,4,5,6,7,8,...,158,159,160,161,162,163,164,165,166,167
0,-10.221977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.8,594.9,...,3037.1,3197.6,-97.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,69.056317,0.0,0.0,0.0,0.0,0.0,-51.7,535.2,1775.6,2047.0,...,3359.9,3463.0,3329.0,5164.0,28683.0,3906.0,246.0,0.0,0.0,0.0
2,-52.254814,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-294.7,2921.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-39.439345,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-152.1,1549.8,...,255.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,38.283991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6271.3,34.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
split_n = math.floor(0.8*len(shuffled_df))

In [7]:
train_df = shuffled_df[:split_n]
test_df = shuffled_df[split_n:]

print(len(train_df),len(test_df))

1981249 495313

In [8]:
train_df.to_csv('train_2Dx.csv',index=False)
test_df.to_csv('test_2Dx.csv',index=False)